/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}


.custom-course-name {
  height: inherit;
}

.custom-course-name mat-icon:hover {
  cursor: pointer;
  color: #0d6efd;
}

.my-btn {
  background-color: #0d6efd !important;
  color: white !important;
}

.my-btn-red {
  background-color: #bb6666 !important;
  color: white !important;
}

.loader-container {
  top: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 1);
  height: 100%;
  width: 100%;
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  z-index: 999;
}
