<div class="container-fluid">
    <div class="row justify-content-between">
        <div class="col-6">
            <mat-form-field appearance="outline" class="my-3 w-100">
                <mat-label>Search</mat-label>
                <input matInput [(ngModel)]="searchInput" placeholder="Type to search..."
                       (keyup.enter)="onSearchEnter()">
                <button *ngIf="searchInput" class="my-btn" matSuffix mat-icon-button aria-label="Clear"
                        (click)="clearSearch()">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-form-field>
        </div>
        <div class="col-3 d-flex flex-row justify-content-end align-items-center">
            <button class="my-btn" mat-flat-button (click)="addNewCourseButtonClicked()">Add New Course</button>
        </div>
    </div>
    <div *ngIf="showCourseForm">
        <div>
            <h1 *ngIf="areWeCreating">Create Course</h1>
            <h1 *ngIf="areWeEditing">Edit Course</h1>
        </div>
        <form #courseForm="ngForm" [formGroup]="fgCourseForm" (ngSubmit)="onFormSubmit()">
            <mat-form-field class="w-100 mb-3" appearance="outline">
                <mat-label>Course Name</mat-label>
                <input matInput type="text" formControlName="course_name" [matAutocomplete]="course_auto"
                       (input)="filterCoursesList()" [listValidator]="courseList">
                <div matSuffix aria-label="drop-down">
                    <mat-icon>arrow_drop_down</mat-icon>
                </div>
                <mat-autocomplete #course_auto="matAutocomplete">
                    <mat-option *ngFor="let course of filteredCourseList" [value]="course">
                        {{ course }}
                    </mat-option>
                </mat-autocomplete>
                <mat-error *ngIf="fgCourseForm.get('course_name')!.hasError('required')">
                    Please enter the course name
                </mat-error>
                <mat-error *ngIf="fgCourseForm.get('course_name')!.hasError('invalidValue')">
                    Please choose a valid course name
                </mat-error>
            </mat-form-field>
            <mat-form-field class="w-100 mb-3" appearance="outline">
                <mat-label>University</mat-label>
                <input matInput type="text" formControlName="university" [matAutocomplete]="university_auto"
                       (input)="filterUniversityList()" [listValidator]="universityList">
                <div matSuffix aria-label="drop-down">
                    <mat-icon>arrow_drop_down</mat-icon>
                </div>
                <mat-autocomplete #university_auto="matAutocomplete">
                    <mat-option *ngFor="let university of filteredUniversityList" [value]="university">
                        {{ university }}
                    </mat-option>
                </mat-autocomplete>
                <mat-error *ngIf="fgCourseForm.get('university')!.hasError('required')">
                    Please enter the university
                </mat-error>
                <mat-error *ngIf="fgCourseForm.get('university')!.hasError('invalidValue')">
                    Please choose a valid university
                </mat-error>
            </mat-form-field>
            <mat-form-field class="w-100 mb-3" appearance="outline">
                <mat-label>Country</mat-label>
                <input matInput type="text" formControlName="country" [matAutocomplete]="country_auto"
                       (input)="filterCountryList()" [listValidator]="countryList">
                <div matSuffix aria-label="drop-down">
                    <mat-icon>arrow_drop_down</mat-icon>
                </div>
                <mat-autocomplete #country_auto="matAutocomplete">
                    <mat-option *ngFor="let country of filteredCountryList" [value]="country">
                        {{ country }}
                    </mat-option>
                </mat-autocomplete>
                <mat-error *ngIf="fgCourseForm.get('country')!.hasError('required')">
                    Please enter the country
                </mat-error>
                <mat-error *ngIf="fgCourseForm.get('country')!.hasError('invalidValue')">
                    Please choose a valid country
                </mat-error>
            </mat-form-field>
            <mat-form-field class="w-100 mb-3" appearance="outline">
                <mat-label>City</mat-label>
                <input matInput type="text" formControlName="city" [matAutocomplete]="city_auto"
                       (input)="filterCityList()" [listValidator]="cityList">
                <div matSuffix aria-label="drop-down">
                    <mat-icon>arrow_drop_down</mat-icon>
                </div>
                <mat-autocomplete #city_auto="matAutocomplete">
                    <mat-option *ngFor="let city of filteredCityList" [value]="city">
                        {{ city }}
                    </mat-option>
                </mat-autocomplete>
                <mat-error *ngIf="fgCourseForm.get('city')!.hasError('required')">
                    Please enter the city
                </mat-error>
                <mat-error *ngIf="fgCourseForm.get('city')!.hasError('invalidValue')">
                    Please choose a valid city
                </mat-error>
            </mat-form-field>
            <div class="row">
                <div class="col-2">
                    <mat-form-field class="w-100 mb-3" appearance="outline">
                        <mat-label>Currency</mat-label>
                        <input matInput type="text" formControlName="price_currency" [matAutocomplete]="currency_auto"
                               (input)="filterCurrencyList()" [listValidator]="currencyList">
                        <div matSuffix aria-label="drop-down">
                            <mat-icon>arrow_drop_down</mat-icon>
                        </div>
                        <mat-autocomplete #currency_auto="matAutocomplete">
                            <mat-option *ngFor="let currency of filteredCurrencyList" [value]="currency">
                                {{ currency }}
                            </mat-option>
                        </mat-autocomplete>
                        <mat-error *ngIf="fgCourseForm.get('price_currency')!.hasError('required')">
                            Please enter the currency
                        </mat-error>
                        <mat-error *ngIf="fgCourseForm.get('price_currency')!.hasError('invalidValue')">
                            Please choose a valid currency
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-4">
                    <mat-form-field class="w-100 mb-3" appearance="outline">
                        <mat-label>Price</mat-label>
                        <input matInput type="text" formControlName="price_amount">
                        <mat-error *ngIf="fgCourseForm.get('price_amount')!.hasError('required')">
                            Please enter the price amount
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <mat-form-field class="w-100 mb-3" appearance="outline">
                        <mat-label>Start Date</mat-label>
                        <input matInput [matDatepicker]="start_picker" formControlName="start_date">
                        <mat-hint>YYYY-MM-DD</mat-hint>
                        <mat-datepicker-toggle matIconSuffix [for]="start_picker"></mat-datepicker-toggle>
                        <mat-datepicker #start_picker>
                            <mat-datepicker-actions>
                                <button mat-button matDateRangePickerCancel>Cancel</button>
                                <button mat-button (click)="startSelectToday()">Today</button>
                                <button mat-button (click)="startClearDate()">Clear</button>
                                <button mat-raised-button matDateRangePickerApply>Apply</button>
                            </mat-datepicker-actions>
                        </mat-datepicker>
                        <mat-error *ngIf="fgCourseForm.get('start_date')!.hasError('required')">
                            Please enter the start date
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-6">
                    <mat-form-field class="w-100 mb-3" appearance="outline">
                        <mat-label>End Date</mat-label>
                        <input matInput [matDatepicker]="end_picker" formControlName="end_date">
                        <mat-hint>YYYY-MM-DD</mat-hint>
                        <mat-datepicker-toggle matIconSuffix [for]="end_picker"></mat-datepicker-toggle>
                        <mat-datepicker #end_picker>
                            <mat-datepicker-actions>
                                <button mat-button matDateRangePickerCancel>Cancel</button>
                                <button mat-button (click)="endSelectToday()">Today</button>
                                <button mat-button (click)="endClearDate()">Clear</button>
                                <button mat-raised-button matDateRangePickerApply>Apply</button>
                            </mat-datepicker-actions>
                        </mat-datepicker>
                        <mat-error *ngIf="fgCourseForm.get('end_date')!.hasError('required')">
                            Please enter the end date
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <mat-form-field class="w-100 mb-3" appearance="outline">
                <mat-label>Course Description</mat-label>
                <textarea matInput type="text" formControlName="course_description"></textarea>
                <mat-error *ngIf="fgCourseForm.get('course_description')!.hasError('required')">
                    Please enter the course description
                </mat-error>
            </mat-form-field>


            <div class="d-flex flex-row justify-content-between">
                <button class="my-btn-red" mat-flat-button type="button" (click)="cancelFormClicked()">
                    Cancel
                </button>
                <button class="my-btn" mat-flat-button [ngClass]="{'disabled': !fgCourseForm.valid}" type="submit">
                    Save
                </button>
            </div>
        </form>
    </div>
    <div [hidden]="showCourseForm">
        <table mat-table [dataSource]="dataSource" class="mb-3">
            <ng-container matColumnDef="course_name">
                <th mat-header-cell *matHeaderCellDef>Course Name</th>
                <td mat-cell *matCellDef="let row"
                    class="custom-course-name d-flex flex-row justify-content-start align-items-center">
                    <mat-icon class="icon-button" (click)="editCourseClicked(row)" matTooltip="Edit Course">
                        edit_square
                    </mat-icon>
                    <mat-icon class="icon-button" (click)="deleteCourse(row)" matTooltip="Delete Course">close
                    </mat-icon>
                    {{row['course_name']}}
                </td>
            </ng-container>
            <ng-container matColumnDef="location">
                <th mat-header-cell *matHeaderCellDef>Location</th>
                <td mat-cell *matCellDef="let row"> {{row['location']}} </td>
            </ng-container>
            <ng-container matColumnDef="start_date">
                <th mat-header-cell *matHeaderCellDef>Start Date</th>
                <td mat-cell *matCellDef="let row"
                    [title]="row['start_date']"> {{row['start_date'] | date: 'yyyy-MM-dd'}}
                </td>
            </ng-container>
            <ng-container matColumnDef="length">
                <th mat-header-cell *matHeaderCellDef>Length</th>
                <td mat-cell *matCellDef="let row">
                    {{row['length']}}
                </td>
            </ng-container>
            <ng-container matColumnDef="price">
                <th mat-header-cell *matHeaderCellDef>Price</th>
                <td mat-cell *matCellDef="let row">
                    {{row['price'] | currency:row['currency']:'symbol-narrow':'1.2-2'}}
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row class="c-p" *matRowDef="let row; columns: displayedColumns;"
                [matTooltip]="row['course_description']" matTooltipPosition="above"></tr>

        </table>

        <ngb-pagination [collectionSize]="totalCoursesReturned" [(page)]="currentPage" [pageSize]="itemsPerPage"
                        (pageChange)="onPageChange()" [rotate]="true" [maxSize]="10"
                        class="d-flex justify-content-center">
        </ngb-pagination>

    </div>
</div>
<div class="loader-container" [hidden]="!showLoader">
    <div class="loader container">
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>
</div>
